.banner-img-5{
    background-image: url(../images/banner.png);
    height: 50vh;
}
.banner-img-1{
    background-image: url(../images/banner.png);
    height: 50vh;
    width: 100%;
}
.banner-img-2{
    background-image: url(../images/banner.png);
    height: 50vh;
    width: 100%;
}
.banner-img-3{
    background-image: url(../images/banner.png);
    height: 50vh;
    width: 100%;
}
.color{
    background-color: #B68C5A;
    color: white;
}
.btncol{
    background-color: #B68C5A;
    color: white;
}
.btnn{
    background-color: #B68C5A;
    color: white;
}
.emaill{
    background-color: 
    color: white;
}